.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

.logo {
  width: 60px;
  border-radius: 8px;
}

#flecha {
  transition: transform 0.3s ease;
}

#flecha.bi-arrow-up {
  transform: rotate(180deg);
}

/* MikanBot */
#chatbot-btn img {
  width: 40px;
  height: 47px;
  object-fit: contain;
}

#chatbot-box {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 300px;
  max-height: 400px;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font-family: Arial, sans-serif;
  z-index: 9999;
  transition: all 0.3s ease;
}

#chatbot-box.open {
  display: flex;
  /* cuando tenga la clase "open", se abre */
}

#chatbot-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #ffe4ba;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: 24px;
  z-index: 10000;
}

/* Encabezado */
#chatbot-header {
  background: #F09100;
  color: white;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

#chatbot-header .sub-header {
  display: block;
  font-size: 14px;
  /* letra más pequeña */
  font-weight: normal;
  /* letra más clara */
  color: #dddddd;
  /* gris más claro */
}

/* Área de mensajes */
#chatbot-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  max-height: 300px;
  font-size: 14px;
  color: #333;
}

/* Mensajes */
.message {
  max-width: 80%;
  padding: 8px 12px;
  border-radius: 12px;
  word-wrap: break-word;
  display: block;
  clear: both;
}

/* Mensajes del user */
.message.user {
  background: #fdca7d;
  margin: 5px 0 5px auto;
  border-radius: 12px 12px 0 12px;
  text-align: left;
}

/* Mensajes del botito */
.message.bot {
  background: #f1f1f1;
  margin: 5px auto 5px 0;
  border-radius: 12px 12px 12px 0;
  text-align: left;
}

.answer {
  padding: 8px;
  margin: 5px 0 10px 0;
  background: #f9f9f9;
  border-left: 3px solid #F09100;
  border-radius: 5px;
}

#chatbot-input {
  display: flex;
  border-top: 1px solid #ddd;
}

#chatbot-input input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 14px;
}

#chatbot-input button {
  background: #F09100;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s ease;
}

#chatbot-input button:hover {
  background: #cc7a00;
}


/* ==========================dark mode============================ */

#tarjeta-perfil.dark #foto_perfil {
  background-color: #fffdfb;
  border: 2px solid #FFB74D;
  border-radius: 15px;
  max-width: 900px;
}

#tarjeta-perfil.dark .editar-foto-btn:hover {
  background-color: #FFB74D;
  color: white;
}

#tarjeta-perfil.dark .text-warning {
  color: #FFB74D !important;
}

#tarjeta-perfil.dark .btn-warning {
  background-color: #FFB74D;
  border: none;
}

#tarjeta-perfil.dark .btn-warning:hover {
  background-color: #FFB74D;
}

#tarjeta-perfil.dark .form-control {
  border-color: #FFB74D;
}

#tarjeta-perfil.dark .form-control:focus {
  border-color: #FFB74D;
  box-shadow: 0 0 0 0.2rem rgba(247, 168, 142, 0.25);
}

#miModal.dark .modal-content .modal-footer button {
  background-color: #FFB74D;
  color: #2B2B2B;
}

#miModal.dark .modal-content .btnExit i {
  color: #FFB74D;
}

#miModal.dark .modal-content {
  background-color: #2B2B2B;
}

#movile-produtcs.dark .dropdown-menu {
  background-color: #FFB74D;
  color: #2B2B2B;
}


#movile-produtcs.dark .btn {
  background-color: #FFB74D;
  color: #2B2B2B;
}

#reviews.dark #sort-comments {
  background-color: #2B2B2B;
  color: #FFFFFF;
}

#reviews.dark #reviews-list .border {
  background-color: #2B2B2B;
  color: #FFFFFF;
}

#reviews.dark #reviews-pagination .btn {
  background-color: #FFB74D;
  color: #2B2B2B;
}

#reviews.dark .review-form-wrap {
  background-color: #2B2B2B;
  color: #FFFFFF;
}

#reviews.dark .review-form-wrap #review-text {
  background-color: #2B2B2B;
  color: #FFFFFF;
}

#reviews.dark .review-form-wrap #review-score {
  background-color: #2B2B2B;
  color: #FFFFFF;
}

#reviews.dark .review-form-wrap #review-form .btn {
  color: #2B2B2B;
  background-color: #FFB74D;
}

#interes.dark .product-card {
  background-color: #2B2B2B;
  border: 2px solid #FFB74D;
}

#interes.dark .product-card .price {
  color: #FFB74D;
}

#mobile-vista.dark .price {
  color: #FFB74D;
}

#mobile-vista.dark .btn {
  color: #2B2B2B;
  background-color: #FFB74D;
}

#carouselExample.dark .category-badge {
  background-color: #FFB74D;
  color: #2B2B2B;
  font-size: 0.85rem;
  border-radius: 5px;
  padding: 3px 8px;
  display: inline-block;
  margin-bottom: 5px;
}


#desktop-vista.dark .category-badge {
  background-color: #FFB74D;
  color: #2B2B2B;
  font-size: 0.85rem;
  border-radius: 5px;
  padding: 3px 8px;
  display: inline-block;
  margin-bottom: 5px;
}

#desktop-vista.dark .price {
  color: #FFB74D;
}

#desktop-vista.dark .btn {
  color: #2B2B2B;
  background-color: #FFB74D;
}

#product-list-container.dark .product-card {
  border-color: #FFB74D;
}

#product-list-container.dark .product-card .price {
  color: #FFB74D;
}

#buscador.dark {
  background-color: #2B2B2B;
  border: 2px solid #FFB74D;
  color: #FFFFFF;
}

#aside.dark {
  background-color: #2B2B2B;
  border: 2px solid #FFB74D;
}

#aside.dark .form-control {
  background-color: #2B2B2B;
  color: #FFFFFF;
}

#aside.dark .form-select {
  background-color: #2B2B2B;
  color: #FFFFFF;
}

#aside.dark .btn {
  background-color: #FFB74D;
  color: #2B2B2B;
  border-color: #2B2B2B;
}

#cat-list-container.dark .list-group-item {
  background-color: #2B2B2B;
  color: #FFFFFF;
  border: 2px solid #FFB74D;
  margin-bottom: 0.5%;
}

#cat-list-container.dark .list-group-item .img-thumbnail {
  background-color: #2B2B2B;
  border: #2B2B2B;
}

#rangeFilterCountMin.dark {
  background-color: #2B2B2B;
  color: #FFFFFF;
  border: 2px solid #FFB74D;
}

#rangeFilterCountMax.dark {
  background-color: #2B2B2B;
  color: #FFFFFF;
  border: 2px solid #FFB74D;
}

#rangeFilterCount.dark {
  background-color: #2B2B2B;
  color: #FFFFFF;
  border: 2px solid #FFB74D;
}

#aToZ.dark {
  color: #FFFFFF;
  border: 2px solid #FFB74D;
}

#zToA.dark {
  color: #FFFFFF;
  border: 2px solid #FFB74D;
}

#ventas.dark {
  color: #FFFFFF;
  border: 2px solid #FFB74D;
}

body.dark {
  background-color: #2B2B2B;
  color: #ffffff;
}

.album.dark {
  background-color: #2B2B2B;
}

#categories-container.dark .card {
  background-color: #2B2B2B;
  border: 2px solid #FFB74D;
  border-radius: .25rem;
}

#y-mucho-mas.dark a {
  background-color: #2B2B2B;
  color: #FFFFFF;
  border: 2px solid #FFB74D;
}

#y-mucho-mas a {
  background-color: #FFFFFF;
  color: #2B2B2B;
  border: 2px solid #2B2B2B;
}


.jumbotron.dark {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/dark_cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron.dark {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron.dark p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading.dark {
  font-weight: 300;
}

.jumbotron.dark .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron.dark .lead {
  font-size: 38px;
}

th {
  font-weight: normal;
}

table {
  border-collapse: collapse;
  background: transparent;
}

th,
td {
  border: none;
  background: transparent;
  padding: 4px 8px;
  text-align: left;
}