html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    display: flex;
    flex-direction: column;
}

header {
    background: #F09100;
    color: #ffffff;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

/*tarjeta amarilla*/
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px 0;
    /* centra el card en la página */
}

.registro-container {
    background: #F09100;
    color: #ffffff;
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    width: 900px;
    padding: 40px;
    box-sizing: border-box;
    max-width: 900px;   /*  en desktop */
    width: 100%;    /*  ocupa todo en pantallas chicas */
}

/*para que disminuya la letra en ipohne*/
@media (max-width: 575px) {
    .form-left h2 {
        font-size: 22px;
    }

    .btn-ingresar {
        font-size: 18px;
    }
}

.logo {
    width: 200px;
    border-radius: 8px;
}

.logo-header {
    width: 60px;
    height: auto;
    margin-right: 10px;
    border-radius: 4px;
}
.form-left {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-left h2 {
    font-size: 28px;
    margin-top: 20px;
}

.logo {
    width: 200px;
    border-radius: 8px;
}

.logo-header {
    width: 60px;
    height: auto;
    margin-right: 10px;
    border-radius: 4px;
}

/* para hacer que el boton inicio quede bonito y no se vuelva azul y subrayando al ponerl el mouse*/
.header-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.form-left {
    flex: 0 0 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-left h2 {
    font-size: 28px;
    margin-top: 20px;
}

.logo {
    width: 200px;
    border-radius: 8px;
}

.logo-header {
    width: 60px;
    height: auto;
    margin-right: 10px;
    border-radius: 4px;
}


.form-right {
    /* parte derecha del form */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-group {
    position: relative;
    margin: 8px 0;
}

.input-group input {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    background: transparent;
    color: #ffffff;
    font-size: 14px;
    outline: none;
}

.input-group label {
    position: absolute;
    top: -10px;
    left: 10px;
    background: #F09100;
    padding: 0 5px;
    font-size: 15px;
    color: #ffffff;
}




button {
    flex: 1;
    background: #ffffff;
    color: #f09100;
    border: none;
    border-radius: 8px;
    padding: 6px 20px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #f09100;
    color: #ffffff;
    border: 1px solid #ffffff;
}
